@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  /* Colors */
  --color-light-brown: #9c7744; /*light brown*/
  --color-cream: #ffd49a; /*cream*/

  --color-text: #2f0e07; /*text dark brown*/
  --color-brown: #533113; /*brown*/

  --color-white: #fffdfb; /*white*/
  --color-bw: #eae5d6;

  --color-light-green: #b4c187;
  --color-dark-green: #5a6b3a;

  /* Fonts */
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-caveat: "Caveat", cursive;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-bw);
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.header-style {
  padding-top: calc(var(--spacing) * 20);
  font-size: var(--text-5xl) /* 3rem = 48px */;
  line-height: var(--tw-leading, var(--text-5xl--line-height));
  --tw-font-weight: var(--font-weight-extrabold) /* 800 */;
  font-weight: var(--font-weight-extrabold);
  font-family: var(--font-caveat);
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.3s ease-out;
}
